@model Associativy.Frontends.Models.IGraphAspect
@{
    Script.Require("Jit").AtHead();
    Style.Require("Jit");

    var maxZoomLevel = Model.ZoomLevelCount - 1;
    var isPartialGraphQuery = ViewContext.HttpContext.Request.QueryString["IsPartialGraph"];
    var isPartialGraph = isPartialGraphQuery != null && bool.Parse(isPartialGraphQuery);
}
<script type="text/javascript">
(function ($) {
    $.extend(true, {
        associativy: {
            graph: null,
            jit: {
                loadGraph: function (zoomLevel, redraw, isPartialGraph) {
                    var that = this;
                    $.post(
                        "@Url.Action("FetchGraph", ViewContext.RouteData.Values)?ZoomLevel=" + zoomLevel + "&IsPartialGraph=@isPartialGraph&" + $("#associativy-search-form").serialize(), 
                        { __RequestVerificationToken: "@Html.AntiForgeryTokenValueOrchard()" },
                        function(graphData) {
                            if (!redraw) that.graph = $.associativy.jit.draw("associativy-jit-associations-canvas", graphData);
                            else $.associativy.jit.redraw(that.graph, graphData);
                    });
                }
            }
        }
    });
})(jQuery);

$(document).on("stop.AssociativyGraphZoomSlider", function(values) {
    $.associativy.jit.loadGraph(values.ui.value, true);
});

$(document).on("graphSetup.AssociativyJit", function (values) {
    var oldFunction = values.graphSetup.onCreateLabel;

    values.graphSetup.onCreateLabel = function (label, node) {
        oldFunction(label, node);

        $(label).dblclick(function () {
            var currentQueryStart = window.location.search.substring(1);
            window.location.href += (currentQueryStart ? "&" : "?") + "IsPartialGraph=true";
        });
    }
});

$(document).ready(function() {
    $.associativy.jit.loadGraph(0, false);
});
</script>

@Display.GraphZoomSlider(MaxZoomLevel: maxZoomLevel)

<div id="associativy-jit-associations-canvas">
</div>
@Display.AssociativyBadgeOfHonor()