@{
    Script.Require("AssociativyFrontends_GraphZoomSlider").AtFoot();
    Style.Require("AssociativyFrontends_GraphZoomSlider");
}

<div id="associativy-graph-zoom-slider-container">
    <span id="associativy-graph-zoom-slider-max">@Model.MaxZoomLevel</span>
    <div id="associativy-graph-zoom-slider">
    </div>
    <span id="associativy-graph-zoom-slider-value"></span>
</div>


@using (Script.Foot())
{
    <script type="text/javascript">
        $(function () {
            $.associativy.graphZoomSlider.init(@Model.CurrentZoomLevel, @Model.MaxZoomLevel);
        });
    </script>
}