@{
    Script.Require("AssociativyFrontends_GraphZoomSlider").AtHead();
    Style.Require("AssociativyFrontends_GraphZoomSlider");
}

<script type="text/javascript">
    $(document).ready(function () {
        $.associativy.graphZoomSlider.init(@Model.CurrentZoomLevel, @Model.MaxZoomLevel);
    });
</script>

<div id="associativy-graph-zoom-slider-container">
    <span id="associativy-graph-zoom-slider-max">@Model.MaxZoomLevel</span>
    <div id="associativy-graph-zoom-slider">
    </div>
    <span id="associativy-graph-zoom-slider-value"></span>
</div>