@using Orchard.ContentManagement
@model Associativy.Frontends.Models.GraphPart
@{
    Script.Require("JIT").AtHead();
    Style.Require("JIT");

    var maxZoomLevel = Model.ZoomLevelCount - 1;
    var routeData = Html.ViewContext.RouteData.Values;
}
<script type="text/javascript">
$(document).ready(function() {
    var graph;

    var loadGraph = function(zoomLevel, redraw) {
        $.getJSON("@Url.Action("FetchAssociations", routeData["controller"].ToString())?ZoomLevel=" + zoomLevel + "&" + $("#associativy-search-form").serialize(), function(graphData) {
            if (redraw == null) redraw = false;
            if (!redraw) graph = $.jit.draw(graphData);
            else $.jit.redraw(graph, graphData);
        });
    };

    loadGraph(@maxZoomLevel);

    $( "#associativy-jit-zoom-slider" ).slider({
		orientation: "vertical",
		range: "min",
		min: 0,
		max: @maxZoomLevel,
		value: @maxZoomLevel,
		stop: function(event, ui) {
            loadGraph(ui.value, true);
            $("#associativy-jit-zoom-slider-value").text(ui.value);
		}
	});
    $("#associativy-jit-zoom-slider-value").text($("#associativy-jit-zoom-slider").slider("value"));
});
</script>
<div id="associativy-jit-zoom-slider-container">
    <div id="associativy-jit-zoom-slider">
    </div>
    <span id="associativy-jit-zoom-slider-value"></span>
</div>
<div id="associativy-jit-associations" style="width: 900px; height: 800px;">
</div>

@Display.AssociativyBadgeOfHonor()