@model Associativy.Frontends.Models.IGraphAspect
@{
    Script.Require("JIT").AtHead();
    Style.Require("JIT");

    var maxZoomLevel = Model.ZoomLevelCount - 1;
}
<script type="text/javascript">
(function ($) {
    $.extend(true, {
        associativy: {
            graph: null,
            jit: {
                loadGraph: function (zoomLevel, redraw) {
                    var that = this;
                    $.getJSON("@Url.Action("FetchAssociations", ViewContext.RouteData.Values)?ZoomLevel=" + zoomLevel + "&" + $("#associativy-search-form").serialize(), function(graphData) {
                        if (!redraw) that.graph = $.associativy.jit.draw("associativy-jit-associations-canvas", graphData);
                        else $.associativy.jit.redraw(that.graph, graphData);
                    });
                }
            }
        }
    });
})(jQuery);

$(document).on("stop.AssociativyGraphZoomSlider", function(values) {
    $.associativy.jit.loadGraph(values.ui.value, true);
});

$(document).ready(function() {
    $.associativy.jit.loadGraph(0, false);
});
</script>

@Display.GraphZoomSlider(MaxZoomLevel: maxZoomLevel)

<div id="associativy-jit-associations-canvas">
</div>
@Display.AssociativyBadgeOfHonor()