#associativy-jit-associations-whole-graph-link
{
    display: block;
}

.node
{
    padding: 0.3em;
    font-size: 1em;
    height: 3em;
    line-height: 1.6em;
}

.associativy-node-discovery-button
{
    margin-left: 1em;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    line-height: 1em;
    cursor: pointer;
    padding: 0.3em;
    background-color: #36ACFB;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
}

#associativy-jit-associations-canvas
{
    height: 800px;
    overflow: hidden;
    margin: 1em auto;
}

#associativy-jit-associations-canvas:hover
{
    cursor: move;
}

#associativy-jit-loader
{
    width: 16px;
    height: 16px;
    background-image: url("Images/jit-loader.gif");
    margin: 0 auto -16px auto;
}