@model Associativy.Frontends.Models.IGraphAspect
           
@{
    Script.Require("Dracula").AtHead();

    var addNodesShape = ((dynamic)ShapeFactory).DisplayTemplate(
                            TemplateName: "Engines/Dracula/AddNodes",
                            Model: Model,
                            Prefix: null);

    var addEdgesShape = ((dynamic)ShapeFactory).DisplayTemplate(
                            TemplateName: "Engines/Dracula/AddEdges",
                            Model: Model,
                            Prefix: null);
}

<script type="text/javascript">
$(document).ready(function(){
	var graph = new Graph();

    @Display(addNodesShape)

    @Display(addEdgesShape)
	
	var layouter = new Graph.Layout.Spring(graph);
	layouter.layout();
	 
	var renderer = new Graph.Renderer.Raphael("canvas", graph, 900, 1000);
	renderer.draw();
});
</script>
<div id="canvas">
</div>